<center><h1 class="titulo black fuente ">Nuevo Articulo</h1></center>
<br>


<div class="well col-xs-8 col-xs-offset-2 shadow">
<%= render 'form' %>

<%= form_with scope: :article, url: articles_path, local: true do |form| %>
    <% text_field_tag :search , @search_term, placeholder: "buscar"%>

<% end %>
</div>

