<center><h1 class="black fuente"><strong>Titulo:</strong>
<%= @article.title %></h1></center>

<div class="well col-xs-8 col-xs-offset-2 ">

<h2>
<strong>Texto:</strong>
</h2>
<br>
<p class="justify">

<%= @article.text%>
</p>



<h2>Comentarios:</h2>

<%= render @article.comments %>

<h3>Agrega un comentario</h3>
<%= render 'comments/form' %>



</div>
