/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 
 $navbar-default-bg:#D1913C ;
@import "bootstrap-sprockets";
@import "bootstrap";


/*
 *= require rails_bootstrap_forms
 */
#logo {
 float: left;
 font-size: 2.0em;
 color: white;
 text-transform: uppercase;
 letter-spacing: -1px;
 font-weight: bold;
 margin-top: 10px;
 margin-bottom: 20px;
 font-family: 'Raleway', sans-serif;
}
#logo:hover {
 color: black;
 text-decoration: none;
}
.article-actions {
 border-top: 1px solid #eaeaea;
 padding-top: 5px;
}
.article-title {
 font-weight: bold;
 font-size: 1.5em;
}
.article-body {
 border-top: 1px solid #eaeaea;
 padding-top: 15px;
 padding-bottom: 15px;
}
.article-meta-details {
 border-top: 1px solid #eaeaea;
 margin-top: 15px;
}
.description {
 margin-top: 0;
}
.listing {
 list-style: none;
 padding-left: 0;
}
#link {
    float: right;
    font-size: 1.0em;
    color: white;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: 'Raleway', sans-serif;
    
   }
#link:hover {
    color:black;
    text-decoration: none;
   }


body{
background: #00B4DB; 
background: -webkit-linear-gradient(to right, #0083B0, #00B4DB);  
background: linear-gradient(to right, #0083B0, #00B4DB); 
    

}
h1{
    color:white;
}
p{
    color:black;
}
.titulo{
    margin: 50px 0 20px 0 ;
}
.atras{
    width: 300px;
}
.shadow{
    box-shadow: 10px 10px 5px black;
   
}
.black{
    color:black;
}
.article-meta-details {
    border-top: 1px solid #eaeaea;
    margin-top: 15px;
   }
   .divider-text {
    position: relative;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
.divider-text span {
    padding: 7px;
    font-size: 12px;
    position: relative;   
    z-index: 2;
}
.divider-text:after {
    content: "";
    position: absolute;
    width: 100%;
    border-bottom: 1px solid #ddd;
    top: 55%;
    left: 0;
    z-index: 1;
}

.btn-facebook {
    background-color: #405D9D;
    color: #fff;
}
.btn-twitter {
    background-color: #42AEEC;
    color: #fff;
}